<ion-header>
  <ion-toolbar>
    
    <ion-title class="ion-text-center">AID INDIA</ion-title>
 
  </ion-toolbar>
</ion-header>


<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="medkit-sharp"></ion-icon>
      <ion-label>Doctor</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="home-sharp"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person-circle-sharp"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
